
/* *******
 * colors
 * *******/
// $dark-blue: #134A9C;
// $midnight-blue: #0F1929;
// $charcoal: #474B51;
// $medium-blue: #134A9C;
// $highlighter-blue: #38E8FF;
$white: #FFFFFF;
$black: #333333;
$primary: #251E5E;
$secondary: #36DFB1;
$borderIcon: #FAAE0B;
$iconBackground: #E5E5E5;


/* *******
 * layout
 * *******/

$mobile-margin-sides: auto;
$mobile-container-width: 0.875vw;

/* *******
 * styling
 * *******/
$border-default: 10px;
$input-field-border: 1px solid $white;
