@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_variables.scss" as *;

.nav {
  background-color: $secondary;
  height: 64px;
}

.evolve-title {
  color: $white;
}

.logo {
  max-width: 40px;
  max-height: 40px;
}
