@use "./_variables.scss" as *;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

// TODO: do we need breakpoints? I think we're only doing mobile app?
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin body {
  // TODO: font-family: overpass, sans-serif;
  color: $dark-blue;
  font-size: 1rem;
  line-height: initial;
  margin-bottom: 1.5rem;
  text-rendering: optimizeLegibility;
}

@mixin header {
  font-size: 1.625rem;
  font-style: normal;
  font-kerning: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: inherit;
}

@mixin btn {
  border-radius: 50px;
  height: 38px;
  width: 135px;
  font-weight: 800;
  line-height: 1.5;
  transition: 0.4s ease;
}
