@use "./styles/partials/_variables.scss" as *;
@use "./styles/partials/_mixins.scss" as *;

body {
  @include body;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 87.5vw;
  display: flex;
  align-items: center;
  &--nav {
    justify-content: space-between;
  }
}

.highlight {
  color: $highlighter-blue;
}
